@media (max-width: 768px) {
    #section {
        height: 500px;
        width: 500px;
    }

    #resultado {
        font-size: 2.2rem;
    }
}

@media (max-width: 550px) {
    #section {
        height: 500px;
        width: 400px;
    }

    #resultado {
        font-size: 1.9rem;
    }
}

@media (max-width: 425px) {
    #section {
        height: 450px;
        width: 300px;
    }

    #resultado {
        font-size: 1.6rem;
    }
}